# Global
.DS_Store
.env
.env.local
*.log

#backend
abc-user-backend/bin/
abc-user-backend/coverage.out
abc-user-backend/.env
abc-user-backend/.idea/
abc-user-backend/go.sum
abc-user-backend/go.mod
abc-user-backend/vendor/

#frontend
abc-user-frontend/node_modules/
abc-user-frontend/dist/
abc-user-frontend/.env
abc-user-frontend/.vite/
abc-user-frontend/.output/
abc-user-frontend/.idea/
